{% extends "web_view/base.html" %}
{% block content %} 

    <h1> About </h1>

    <p>
        This work is an assignment for Internet Of Things spring course @ Sapienza University of Rome.
        </br>
        Check for the assignment @ <a href="http://ichatz.me/Site/InternetOfThings2020-Assignment1"> Assignment Page</a>.
        </br>
        Check for the assignment @ <a href="http://ichatz.me/Site/InternetOfThings2020-Assignment2"> Assignment Page</a>.
        </br>
        Take a look at the <a href="https://github.com/PanK0/iot-project"> GitHub Page </a> of the project! 
    </p>
    
{% endblock content %}
