{% extends "blog/base.html" %}
{% block content %} 

    <h1> Video Presentation </h1>
    
    <p>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rgGRoJ8GJn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </p>
    
    

{% endblock content %}

{% block corpus %}

    <hr>

    <h2> Check the project on Hackster.io! </h2>
    
    </br> </br>

    <iframe frameborder='0' height='385' scrolling='no' src='https://www.hackster.io/panicik/iot-assignment-1-991fcc/embed' width='350'></iframe>


{% endblock corpus %}

-->
