{% extends "web_view/base.html" %}
{% block content %} 

    <p> 
        <h2> Assignment 1 </h2>
    
        <iframe frameborder='0' height='385' scrolling='no' src='https://www.hackster.io/panicik/iot-assignment-1-991fcc/embed' width='350'></iframe>   
        
        <hr>
        
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rgGRoJ8GJn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
    
    </p>
    
    <hr>
    
    <p>
        <h2> Assignment 2 </h2>
    
        <iframe frameborder='0' height='385' scrolling='no' src='https://www.hackster.io/panicik/iot-assignment-2-dccd47/embed' width='350'></iframe>
    
     <hr>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/f1hhviwPckg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    </p>
    
    <p>
        <h2> Assignment 3 </h2>
    
        <iframe frameborder='0' height='385' scrolling='no' src='https://www.hackster.io/panicik/iot-assignment-3-0191b5/embed' width='350'></iframe>
    
     <hr>
        
    
    </p>

{% endblock content %}






