{% extends "web_view/base.html" %}
{% block content %} 

    <h1> Assignment Three </h1>
    
    <p>
        Check for the assignment @ <a href="http://ichatz.me/Site/InternetOfThings2020-Assignment3"> Assignment Page</a>.
        
        </br>
       
        </br> </br>
        
        This is the real time graph of of the Environmental Station Simulation
    </p>
    
    <button onclick="showhide('dashboard')">Dashboards</button>
    
{% endblock content %}


{% block corpus %}

    <iframe src="https://demo.thingsboard.io/dashboard/15c828d0-7982-11ea-8142-b3576b7d39f1?publicId=623f71c0-6aa3-11ea-8e0a-7d0ef2a682d3" class="myIframe" id="dashboard"> </iframe>

{% endblock corpus %}
